<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evgeniysharafan.takephoto">

    <!--NEED TO CHECK-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.App"
        android:allowBackup="${allowBackup}"
        android:fullBackupContent="${fullBackupContent}"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.TakePhotoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
